@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #eff2f9;
  --color-text-primary: #191919;
  --color-point-primary: #c7ff81;
  --font-default: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  position: relative;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background) !important;
  color: var(--color-text-primary) !important;
  overflow-x: hidden;
  font-family: var(--font-default);
  text-rendering: optimizeLegibility;
}
