@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f6f6f6;
  --color-text-primary: #191919;
  --font-default: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background) !important;
  color: var(--color-text-primary) !important;
  overflow-x: hidden;
  font-family: var(--font-default);
}
